{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            {% for item in result %}
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="{{ item.web_url }}" class="block-20 rounded"
                       style="background-image: url('{{ item.photo.images.original.url }}');">
                    </a>
                    <div class="text p-4 text-center">
                        <h3 class="heading"><a href="{{ item.web_url }}" target="_blank">{{ item.name }}</a></h3>
                        <div class="meta mb-2">
                        </div>
                        {% if item.description %}
                            <p>{{ item.description|truncatewords_html:20|safe }}</p>
                        {% else %}
                            <p>Unfortunately, the restaurant didn`t provide any description :(</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}

